javascript learning/sample_flow/Microsoft.Flow/flows/ce719dd3-95cd-49dd-bbc8-108b4d649d5e/definition.json
{"name":"5c66ce5d-bd1a-485c-a629-de96e7bd4f16","id":"/providers/Microsoft.Flow/flows/5c66ce5d-bd1a-485c-a629-de96e7bd4f16","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SampleAutomate","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"daa040c9-5779-4055-bb2c-a4ee70e5f38d","type":"User","tenantId":"9d23e93f-ba4f-4581-bccf-a364fdcc272b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-21T14:14:12.9093141Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"繰り返し":{"recurrence":{"frequency":"Second","interval":60},"metadata":{"operationMetadataId":"ee73618d-a383-4b62-8e06-286639a0eeb8"},"type":"Recurrence"}},"actions":{"キュー名":{"runAfter":{},"metadata":{"operationMetadataId":"07da95c7-1588-4ab3-8761-7dc8b1521596"},"type":"InitializeVariable","inputs":{"variables":[{"name":"queueName","type":"string","value":"seb2022-queue-ida"}]}},"キュー取得":{"actions":{"エンキューされているキューを取得":{"runAfter":{},"metadata":{"operationMetadataId":"536cead1-5872-4fa5-88b8-97c180240773"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CopyFile"},"parameters":{"source":"https://zoobwzp1hc.execute-api.ap-northeast-1.amazonaws.com/v1/queue/@{variables('queueName')}-request?token=seb2022_web","destination":"seb2022_queue_received.json","overwrite":true},"authentication":"@parameters('$authentication')"}},"キューの抽出":{"runAfter":{"エンキューされているキューを取得":["Succeeded"]},"metadata":{"operationMetadataId":"9d5e2f1a-a1c1-48c4-a4cf-20b6c5155486"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@outputs('エンキューされているキューを取得')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"queueMessages":{"runAfter":{"キュー取得時の一時ファイルを削除":["Succeeded"]},"metadata":{"operationMetadataId":"4f831809-454c-452b-b50e-eaaaa93df831"},"type":"ParseJson","inputs":{"content":"@json(body('キューの抽出'))","schema":{"type":"object","properties":{}}}},"メッセージの存在確認":{"actions":{"取得したキューを削除":{"runAfter":{},"metadata":{"operationMetadataId":"dc04d532-a5a4-4207-a139-d8f5d35ca93e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CopyFile"},"parameters":{"source":"https://zoobwzp1hc.execute-api.ap-northeast-1.amazonaws.com/v1/queue/@{variables('queueName')}-request/delete?token=seb2022_web&receiptHandle=@{encodeUriComponent(body('queueMessages')['ReceiveMessageResponse']['ReceiveMessageResult']['messages'][0]['ReceiptHandle'])}","destination":"seb2022_queue_deleted.json","overwrite":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"queueMessages":["Succeeded"]},"else":{"actions":{"メッセージ無し":{"runAfter":{},"metadata":{"operationMetadataId":"965f2d85-13e6-46ed-bacd-4373a50dee00"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"not":{"equals":["@body('queueMessages')['ReceiveMessageResponse']['ReceiveMessageResult']['messages']",null]}},"metadata":{"operationMetadataId":"19dffde2-10e3-4a82-8c66-640c587c49bd"},"type":"If"},"message":{"runAfter":{"メッセージの存在確認":["Succeeded"]},"metadata":{"operationMetadataId":"ced0d94a-e086-40be-bad7-b447876423e3"},"type":"ParseJson","inputs":{"content":"@json(body('queueMessages')['ReceiveMessageResponse']['ReceiveMessageResult']['messages'][0]['Body'])","schema":{"type":"object"}}},"キュー取得時の一時ファイルを削除":{"runAfter":{"キューの抽出":["Succeeded"]},"metadata":{"operationMetadataId":"812afe69-efda-4aec-bc0b-1cbce680d096"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('エンキューされているキューを取得')?['body/Id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"キュー名":["Succeeded"]},"metadata":{"operationMetadataId":"e0a962c4-6c3d-48dc-9493-c636e43da196"},"type":"Scope"},"レスポンス送信":{"actions":{"レスポンスキューの追加":{"runAfter":{},"metadata":{"operationMetadataId":"3886e438-735b-4d69-b95a-62314962a8fe"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CopyFile"},"parameters":{"source":"https://zoobwzp1hc.execute-api.ap-northeast-1.amazonaws.com/v1/queue/@{variables('queueName')}-response/enqueue?token=seb2022_web&messageBody=@{encodeUriComponent(variables('responseBody'))}","destination":"seb2022_response_submit.json","overwrite":true},"authentication":"@parameters('$authentication')"}},"キュー追加時の一時ファイルを削除":{"runAfter":{"レスポンスキューの追加":["Succeeded"]},"metadata":{"operationMetadataId":"39f1274b-28bf-41d0-b843-aa1379a7f44d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('レスポンスキューの追加')?['body/Id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"レスポンス本文":["Succeeded"]},"metadata":{"operationMetadataId":"7a39c729-8ebc-4ef8-a734-39fe7f66cc30"},"type":"Scope"},"レスポンス本文":{"runAfter":{"実行内容":["Succeeded"]},"metadata":{"operationMetadataId":"ed7afb45-e4de-4ce5-a269-cfa085018be9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"responseBody","type":"object","value":{"company":"@{outputs('ユーザー_プロフィールの取得_(V2)')?['body/companyName']}","department":"@{outputs('ユーザー_プロフィールの取得_(V2)')?['body/department']}","lastName":"@{outputs('ユーザー_プロフィールの取得_(V2)')?['body/givenName']}","firstName":"@{outputs('ユーザー_プロフィールの取得_(V2)')?['body/surname']}","introduction":"@{outputs('ユーザー_プロフィールの取得_(V2)')?['body/aboutMe']}","relatedPeople":"@variables('relatedPeople')","requestId":"@{body('message')['requestId']}"}}]}},"関係するユーザーのリスト":{"runAfter":{"キュー取得":["Succeeded"]},"metadata":{"operationMetadataId":"c1818f47-182e-45d7-88c7-52cca6b1111b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"relatedPeople","type":"array"}]}},"実行内容":{"actions":{"ユーザー_プロフィールの取得_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"7c5f3deb-f5b6-4614-af7f-e0040597ca0c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@body('message')['targetEmail']"},"authentication":"@parameters('$authentication')"}},"関係するユーザーを取得します":{"runAfter":{"ユーザー_プロフィールの取得_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"f4aeff07-ed6d-4485-8a67-72e96c52152e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"RelevantPeople"},"parameters":{"userId":"@outputs('ユーザー_プロフィールの取得_(V2)')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')"}},"関係するユーザーを抽出":{"foreach":"@outputs('関係するユーザーを取得します')?['body/value']","actions":{"関係するユーザーを追加":{"runAfter":{},"metadata":{"operationMetadataId":"8949750f-850f-40a8-b3dd-24bc16fc3fcf"},"type":"AppendToArrayVariable","inputs":{"name":"relatedPeople","value":"@{items('関係するユーザーを抽出')?['surname']} @{items('関係するユーザーを抽出')?['givenName']}"}}},"runAfter":{"関係するユーザーを取得します":["Succeeded"]},"metadata":{"operationMetadataId":"b04519a8-10a2-42f9-a7cb-7b118fe868f8"},"type":"Foreach"}},"runAfter":{"関係するユーザーのリスト":["Succeeded"]},"metadata":{"operationMetadataId":"6b5a6832-0c78-469f-a495-f598703ae372"},"type":"Scope"},"レスポンス送信(エラー)":{"actions":{"レスポンスキューの追加(エラー)":{"runAfter":{},"metadata":{"operationMetadataId":"3886e438-735b-4d69-b95a-62314962a8fe"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CopyFile"},"parameters":{"source":"https://zoobwzp1hc.execute-api.ap-northeast-1.amazonaws.com/v1/queue/@{variables('queueName')}-response/enqueue?token=seb2022_web&messageBody=@{encodeUriComponent(variables('responseErrorBody'))}","destination":"seb2022_response_submit.json","overwrite":true},"authentication":"@parameters('$authentication')"}},"キュー追加時の一時ファイルを削除(エラー)":{"runAfter":{"レスポンスキューの追加(エラー)":["Succeeded"]},"metadata":{"operationMetadataId":"39f1274b-28bf-41d0-b843-aa1379a7f44d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('レスポンスキューの追加(エラー)')?['body/Id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"レスポンス本文(エラー)":["Succeeded"]},"metadata":{"operationMetadataId":"7a39c729-8ebc-4ef8-a734-39fe7f66cc30"},"type":"Scope"},"レスポンス本文(エラー)":{"runAfter":{"実行内容":["Failed"]},"metadata":{"operationMetadataId":"ed7afb45-e4de-4ce5-a269-cfa085018be9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"responseErrorBody","type":"object","value":{"error":"GetUserInfoFailed","requestId":"@{body('message')['requestId']}"}}]}}}},"connectionReferences":{"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-2f022392-aa7b-460f-b3b2-27c4-56105819","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_office365users":{"connectionName":"47b2c4e0d72f40dba85816700cf44a82","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}